.SearchForm {
	box-sizing: border-box;
	margin: auto;
	max-width: 300px;

	#inputSearch {
		padding: 10px;
		font-size: 17px;
		border: 1px solid grey;
		float: left;
		width: 80%;
		background: #f1f1f1;
	}

	button {
		float: left;
		width: 20%;
		padding: 10px;
		background: #4e4e4e;
		color: white;
		font-size: 17px;
		border: 1px solid grey;
		border-left: none;
		cursor: pointer;

		&:hover {
			background: #292929;
		}
	}

	&::after {
		content: '';
		clear: both;
		display: table;
	}
}
